:root {
  /* Font */
  --font-family: 'Figtree', sans-serif;
  --font-regular: 500;
  --font-bold: 800;

  /* Font sizes */
  --size-x-large: 24px;
  --size-large: 20px;
  --size-medium: 16px;
  --size-small: 12px;
  --size-x-small: 8px;

  /* Colors */
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
  --color-primary: var(--color-gray-950);
  --color-secondary: var(--color-gray-500);

  /* Backgrounds */
  --color-background: #F5D04E;

  /* Spacing scale */
  --space-large: 20px;
  --space-medium: 16px;
  --space-small: 12px;

  /* Border radius scale */
  --radius-large: 12px;
  --radius-medium: 8px;
  --radius-small: 4px;

  /* Component-specific */
  --card-max-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
