:root {
  /* Font */
  --font-family: 'Figtree', sans-serif;
  --font-regular: 500;
  --font-bold: 800;

  /* Font sizes */
  --size-26: 26px;
  --size-24: 24px;
  --size-20: 20px;
  --size-16: 16px;
  --size-12: 12px;
  --size-8: 8px;

  /* Colors */
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
  --color-primary: var(--color-gray-950);
  --color-secondary: var(--color-gray-500);

  /* Backgrounds */
  --color-primary-background: #F5D04E;
  --color-primary-darker-background: #F2D052;

  /* Spacing */
  --space-20: 20px;
  --space-16: 16px;
  --space-12: 12px;
  --space-10: 10px;
  --space-5: 5px;
  --space-2: 2px;

  /* Border radius */
  --radius-12: 12px;
  --radius-8: 8px;
  --radius-4: 4px;

  /* Component-specific */
  --card-max-width: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
